body{
    background-color: antiquewhite;
    font-size: medium;
    align-items: center;
}

h1{
    margin-left: 43%;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}

p{
    color:brown;
    font-style: oblique;
}

table{
    background-color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    align-items: center;
    border: 5px;
    border-style: dashed;
}

footer{
    margin-top:17%;
    font-weight: bolder;
    font-size: large;
    font-style: oblique;
    color: blueviolet;
}

.heading{
    color:brown;
    font-weight: bolder;
}