/* container styling */
body{
    margin: 0px;
}
.container{
    height: 900px;
    width: auto;
    /* background-color: rgb(112, 100, 86);  */
    /* background-image: url(cover-1.jpg); */
    /* background-size: cover; */
}


/* navbar styling */

.header{
    height:8.33%;
    width: 100%;
    background-color: rgb(112, 100, 86);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: fixed; */
    top: 0;
    left: 0;
}

.logo>img{
    height: 100px;
    width: 150px;
    margin-top: 100px;
    position: relative;
    left: -20px;
}

.link{
   position: relative;
   right: 130px;
}

.link>a{
    text-decoration: none;
    color: white;
    margin: 20px;
}

/* About page styling  */

.about{
   
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    margin: 100px 150px 100px 150px;
}   

.a-txt{
    /* margin-left: 30px; */
    color:rgb(112, 100, 86);
    margin: 65px 30px 40px 70px;
    text-align: justify;
}

h1{
    font-family: 'Playfair Display SC';
    font-weight: lighter;
}

big{
    font-weight: bold;
}


/* SALIENT FEATURES page styling */

.salient{
    background-color:rgb(112, 100, 86);
    height: 600px;
    color: white;
    text-align: center;
    padding: 60px 250px 60px 250px ;
}

.salient>p{
    padding-top: 20px;
}



/* Specification page styling */

.specifications{
    margin-top: 100px;
    display: flex;
}

.sp-con{
    color:rgb(112, 100, 86);
    margin: 30px 30px 40px 60px;
    text-align: justify;
}


/* footer styling */

.footer{
    height: 350px;
    background-color:rgb(112, 100, 86) ;
    color: white;
    margin-top: 100px;
    
}

.f-gr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px 0px 200px;
    /* padding: 100px; */
    font-size: 14px;
    font-weight: lighter;
}

.f-gr>span{
    height: 150px;
}

.qr{
    display: flex;
    justify-content: space-around;
}

.qr>span>img{
    padding-top: 20px;
    height: 95px;
    padding-right: 20px;
    top: 0;
}

a{
    color: white;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 0;
    font-size: 14px;
    font-weight: lighter;
}

h4{
    margin-bottom: 0px;
}

p{
    margin-top: 5px;
}

.f-con{
    padding-left: 200px;
    padding-right: 200px;
    text-align: justify;
    font-size: 12px;
    font-weight: lighter ;
}
/* 
.f-con>p{
    border-bottom: 1px solid white;
} */

.f-end{
    border-top: 2px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    line-height: 50px;
    border-style: solid;
    border-color: white;
    display: flex;
    justify-content: space-between;
}