h2 {
    color: purple;
    font-size: 30px;
    text-align: center;
}

.box{
    height: 150px;
    width: 150px;
    background-color: aqua;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
}