.detail {
    /* background-color: blanchedalmond; */
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}

.new {
    background-color: blanchedalmond;
}