*{
    margin: 0px;
    padding: 0px;
    color: white;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
}

a{
    margin-right:200px;
    text-decoration: none;
}

#logo{
    color:#f08804;
    font-size: 25px;
}

button{
    background-color:#f08804;   
    padding:2px;
}

.box{
    height: 100px;
    width: 100px; 
    background-color: antiquewhite;
    border: 1px solid brown;
    display: inline-block;
    margin: auto;
    color: #0f1111;
}

footer{
    background-color: #0f1111;
    color: white;
    text-align: center;
}

#content{
    height: 650px;
    
}