body{
    text-align: center;
    background-color: #0f1111;
    background-size: cover;
    color: aliceblue;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: auto;
    max-width: 960px;
}

img{
    height: 280px;
    width: 100%;
    border-radius: 20%;
}